#include <iostream>
using namespace std;

struct tTriangulos{
int l1=0;
int l2=0;
int l3=0;
int area=0;
int peri=0;

};

int main() {

tTriangulos n1;

cout << "insira o lado 1: " << endl;
cin >> n1.l1;
cout << "insira o lado 2: " << endl;
cin >> n1.l2;


}