#include <iostream>
using namespace std;

struct tTriangulos{
int l1=0;
int l2=0;
int l3=0;
int area=0;
int peri=0;

float hipo(int l1, int l2){

    l3=((l1^2)+(l2^2))^(1/2);
    
    return l3;
  }

float are(int l1, int l2){
  
    area=((l1*l2)/2);

    return area;
  }

};

int main() {

tTriangulos n1;

cout << "insira o lado 1: " << endl;
cin >> n1.l1;
cout << "insira o lado 2: " << endl;
cin >> n1.l2;


}